<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <%- include("_header") %> 
  </header>

  <main class="conteudo">
    <h2><%= title %></h2>
    <p>
      Duis in pulvinar eros, non suscipit lectus. Nullam ut mattis nisl.
      Vestibulum gravida mi in velit faucibus, nec fringilla elit blandit. Nam
      eleifend molestie vehicula. Phasellus consectetur risus eu scelerisque
      tristique. Aliquam felis diam, porttitor id sollicitudin ut, gravida ut
      sem.
    </p>
  </main>

  <footer class="footer">
    <p>&copy;2022 Todos os direitos reservados</p>
  </footer>
</body>
</html>