<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <%- include("_header") %> 
  </header>

  <main class="conteudo">
    <h2><%= title %></h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsa
      corrupti possimus odit perferendis ad explicabo ut architecto, fuga
      quaerat nesciunt harum earum! Assumenda hic voluptatibus officia, error
      corrupti recusandae.
    </p>
  </main>

  <footer class="footer">
    <p>&copy;2022 Todos os direitos reservados</p>
  </footer>
</body>
</html>