<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Produtos</h1>

  <% if (role === "products") { %>
    <section id="products">
      <% products.forEach(product => { %>
        <h2><%= product.name %></h2>
        <p><%= product.price %></p>
        <hr>
      <% }); %>
    </section>
  <% } %> 

  <% if (role === "detail") { %>
    <section id="detail">
      <h2><%= product.name %></h2>
      <p><%= product.price %></p>
    </section>
  <% } %> 

  
</body>
</html>